<% include head %>
  <div id="container" class="container-fluid">
	<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
	  <% include sidebar %>
	</div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
	  <a class="btn btn-success" href="/articles/random" role="button">Random</a>
	<br /><br />
	<table class="table">
	  <% for(var i=0; i<articleList.length; i++) { %>
	    <tr>
		  <td><%= i %></td>
	      <td><a href="/articles/<%= i %>"><%= parser(articleList[i]).name %></a></td>
		  <td><%= fsStatSync('./posts/'+articleList[i]).mtime %></td>
	    </tr>
	  <% } %>
    </table>
  </div>
  </div>
  </div>
<% include foot %>
